/aula3/nbproject/private/
/aula3/build/
/amortizacao/nbproject/private/
/amortizacao/build/
/amortizacao2/nbproject/private/
/amortizacao/dist/
/aula5/nbproject/private/
/aula5/build/
/aula5exercicio1/nbproject/private/
/aula5exercicio1/build/
/edu.fatec.p1/nbproject/private/
/edu.fatec.p1/build/
/testep1/nbproject/private/
/testep1/build/
/avaliacao1/nbproject/private/
/avaliacao1/build/
